[[redirects]]
from = "/sitemap.xml"
to = "https://mypuvkzsgwanilduniup.supabase.co/functions/v1/sitemap"
status = 200
force = true

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[build]
command = "npx vite build"
publish = "dist"
